
## A few words about cells in the notebook

You can run cells using the shortcut **`<Shift> + <Enter>`**.  

The **`<Enter>`** key allows you to move the cursor to the next line.  

#### Code cells

Restarting cells will execute all the code written inside the cell. To modify the content, you need to click on it (the color will change from blue to green).  

#### Markdown cells

Restarting these cells will regenerate the text in Markdown format. To edit, double-click on the cell.  

<hr>

## References

- https://jupyter-notebook.readthedocs.io/en/latest/notebook.html
- https://mybinder.readthedocs.io/en/latest/introduction.html
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

# 1. Basics
  
## Objects, basic types, and variables in Python 3

Everything in Python 3 is an **object**, and every object has its own **type**. The main types include:

- **`int`** (integer; whole number)  
  - `10`  
  - `-3`  
- **`float`** (floating point number; decimal)  
  - `7.41`  
  - `-0.006`  
- **`str`** (string; sequence of characters enclosed in single, double, or triple quotes)  
  - `'this is a string using single quotes'`  
  - `"this is a string using double quotes"`  
  - `'''this is a triple quoted string using single quotes'''`  
  - `"""this is a triple quoted string using double quotes"""`  
- **`bool`** (boolean; binary value, can be `True` or `False`)  
  - `True`  
  - `False`  
- **`NoneType`** (a special type representing the absence of a value)  
  - `None`  

In Python, a **variable** is a name you specify in the code that is associated with a particular **object**, **instance** of an object, or value.

By defining variables, we can reference objects by names that are meaningful to us (we try to give variables descriptive names). Variable names may contain only letters, underscores (`_`), or digits (no spaces, hyphens, or other symbols). Variable names must begin with a letter or an underscore (they cannot begin with a digit).

<hr>

## Basic Operators

In Python, there are different types of **operators** (special symbols) that work with different values. Some of the main operators include:

- Arithmetic operators  
   - **`+`** (addition)  
   - **`-`** (subtraction)  
   - **`*`** (multiplication)  
   - **`/`** (division)  
   - **`**`** (exponentiation)  
- Assignment operators  
   - **`=`** (assign a value)  
   - **`+=`** (add and reassign; increment; similar to **`a++`**)  
   - **`-=`** (subtract and reassign; decrement; similar to **`a--`**)  
   - **`*=`** (multiply and reassign)  
- Comparison operators (return either `True` or `False`)  
   - **`==`** (equal to)  
   - **`!=`** (not equal to)  
   - **`<`** (less than)  
   - **`<=`** (less than or equal to)  
   - **`>`** (greater than)  
   - **`>=`** (greater than or equal to)  

If an expression contains multiple operators, **operator precedence** determines which parts of the expression are evaluated first. Operators with higher precedence are evaluated before those with lower precedence. Operators with the same precedence are evaluated left to right. The order of precedence is as follows:

- Parentheses `()` for grouping  
- Exponentiation `**`  
- `*`, `/` multiplication and division  
- `+`, `-` addition and subtraction  
- Comparison operators `==`, `!=`, `<`, `<=`, `>`, `>=`  

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [2]:
# Assign some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

### Example: Addition

In [3]:
# Addition
num1 + num2

7

### Example: Subtraction
Subtracting numbers or variables.

In [4]:
# Subtraction
num2 - num3

-10.41

### Example: Multiplication
Multiplying numbers or variables.

In [12]:
# Multiplication

print(10*3)
print(num1 * num2)
num3 * num4

30
-30

-4.446

### Example: Division
Dividing numbers or variables.

In [13]:
# Division
num4 / num5

-0.08571428571428572

### Example: Multiplication
Multiplying numbers or variables.

In [14]:
# Exponentiation
print(2**2)
num5 ** num6

4

343

### Example: Division  

Dividing numbers or variables.  

- **`/` (true division)** : always returns a *float* result, even if the division is exact.  

  Example:  
  - 5 / 2   # 2.5
  - 4 / 2   # 2.0

- **`//` (floor division)**:  returns the integer part of the division, rounding down towards negative infinity.

  Example:  
  - 5 // 2    # 2
  - -5 // 2   # -3  (because it rounds down, not just truncates)

In [18]:

print(num5 / num6)
print(num5 // num6)

2.3333333333333335
2

### Explanation
modulo operator, it gives the remainder after dividing num5 by num6

In [19]:

print(10 % 3)   # 1  (because 10 = 3*3 + 1)
print(14 % 5)   # 4  (because 14 = 5*2 + 4)
num5 % num6

1
4

1

In [28]:
num7

31.11

In [30]:
# Increase a variable's value
# num7 = num7 + 4
num7 += 4
num7

39.11

In [32]:
num7

39.11

In [12]:
num6

3

### Example: Subtraction
Subtracting numbers or variables.

In [38]:
# Decrease a variable's value

# num6 = num6 -2
num6 -= 2
num6

-9

### Example: Multiplication
Multiplying numbers or variables.

In [39]:
# Multiply and reassign a variable's value
num3 *= 5
num3

37.05

### Example: Addition
Here we assign numbers to variables and then add them together.

In [41]:
# Assign a variable to the result of an expression
print(2+5*5)
num8 = num1 + num2 * num3
num8

27

-101.14999999999999

In [44]:
num1, num2, num5

(10, -3, 7)

### Example: Addition

In [17]:
# Equality of two expressions
num1 + num2 == num5

True

### Explanation

In [ ]:
num3, num4

(37.05, -0.6)

### Explanation
This code demonstrates Python usage.

In [19]:
# Inequality of two expressions
num3 != num4

True

### Explanation

In [47]:
num5, num6

(7, -9)

In [48]:
# Compare the values of two variables (or expressions)
num5 < num6

False

### Explanation

In [22]:
# Is the statement below true?
5 > 3 > 1

True

In [49]:
# Is this expression true?
# (5 > 3) and (3 < 4) and (4 == 3 + 1)

5 > 3 < 4 == 3 + 1

True

### Explanation

In [50]:
# Assign values from different strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "
simple_string1, simple_string2

('an example', 'oranges ')

### Explanation

In [51]:
# String addition (concatenation)
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [52]:
simple_string1

'an example'

In [53]:
# String multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [54]:
simple_string2

'oranges '

In [55]:
# Are the strings equal?
simple_string1 == simple_string2

False

In [56]:
# String equality
simple_string1 == 'an example'

True

### Explanation

In [31]:
# Concatenation and reassignment
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [57]:
# Multiplication and reassignment
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

## Basic Containers

> Note. **Mutable** objects can be changed after creation, while **immutable** objects cannot.

Containers are objects that can be used to store other objects. The main types of containers include:

- **`str`** (string: immutable; indexed by integers; elements are stored in the order they were added)  
- **`list`** (list: mutable; indexed by integers; elements are stored in the order they were added)  
   - `[3, 5, 6, 3, 'dog', 'cat', False]`  
- **`tuple`** (tuple: immutable; indexed by integers; elements are stored in the order they were added)  
   - `(3, 5, 6, 3, 'dog', 'cat', False)`  
- **`set`** (set: mutable; not indexed at all; elements are NOT stored in the order they were added; can contain only immutable objects; does NOT contain duplicates)  
   - `{3, 5, 6, 'dog', 'cat', False}`  
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; elements are NOT stored in the order they were added)  
   - `{'name': 'Jane',  
       'age': 23,  
       'fav_foods': ['pizza', 'fruits', 'fish']}`  

When defining lists (`list`), tuples (`tuple`), or sets (`set`), commas (`,`) are used to separate individual elements. When defining dictionaries (`dict`), a colon (`:`) is used to separate keys from values, and commas (`,`) are used to separate key-value pairs.

Strings, lists, and tuples are **sequence types**, which means operators like `+`, `*`, `+=`, and `*=` can be applied to them.

### Example: Working with Lists
This code creates or manipulates a list.

In [59]:
# Assign specific values to containers
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}
list1, tuple1, set1, dict1

([3, 5, 6, 3, 'dog', 'cat', False],
 (3, 5, 6, 3, 'dog', 'cat', False),
 {3, 5, 6, False, 'cat', 'dog'},
 {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']})

### Example: Working with Lists
This code creates or manipulates a list.

In [34]:
list1

[3, 5, 6, 3, 'dog', 'cat', False]

### Example: Working with Tuples
This code shows tuple operations.

In [35]:
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

### Example: Working with Sets
This code demonstrates set operations.

In [36]:
# Sets show unique elements only
set1

{3, 5, 6, False, 'cat', 'dog'}

### Example: Working with Dictionaries
This code demonstrates dictionary usage.

In [37]:
# Dict insertion order is preserved in modern Python
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

### Example: Working with Lists
This code creates or manipulates a list.

In [60]:
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [61]:
# Addition and reassignment (list)
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

### Example: Working with Tuples
This code shows tuple operations.

In [62]:
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [69]:
# Addition and reassignment (tuple)
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [63]:
[1, 2, 3, 4] * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [64]:
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing Data in Containers (Indexing)

For strings, lists, tuples, and dictionaries, we can use **index notation** (square brackets) to access data by index.

- Strings, lists, and tuples are indexed by integers, **starting at 0** for the first element.  
   - These sequence types also support access to a range of elements, known as a **slice**.  
   - **Negative indexing** can be used to start from the end of the sequence.  
- Dictionaries are indexed by their keys.  

> Note: Sets are not indexed, so we cannot use index notation to access their elements.

### Example: Working with Lists

In [65]:
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [67]:
# Access the second item (index 1)
list1[1]

5

### Example: Working with Tuples

In [70]:
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [71]:
# Access the second-to-last item
tuple1[-2]

5

### Explanation

In [73]:
simple_string1

'an example'

### Explanation

In [75]:
# Slice a range
# starts at index 3 
# Goes up to index 8 (but doesnâ€™t include 8) 
simple_string1[3:8]

'examp'

### Example: Working with Tuples

In [77]:
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [78]:
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [79]:
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [80]:
list1[:] == list1

True

### Example: Working with Dictionaries

In [81]:
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [82]:
dict1['name']

'Jane'

In [83]:
dict1['age']

23

In [84]:
dict1['height'] = 165
dict1

{'name': 'Jane',
 'age': 23,
 'fav_foods': ['pizza', 'fruit', 'fish'],
 'height': 165}

In [85]:
dict1['fav_foods'].append('sss')
dict1

{'name': 'Jane',
 'age': 23,
 'fav_foods': ['pizza', 'fruit', 'fish', 'sss'],
 'height': 165}

In [86]:
dict1['fav_foods'][2]

'fish'

## Python "for loops"

It is easy to **iterate over** a collection of elements using a **for** loop. Strings, lists, tuples, sets, and dictionaries that we define are all **iterable** containers.

A for loop goes through the given container one element at a time and provides a temporary variable for the current element. You can use this temporary variable just like a regular variable.

### Example: Working with Lists

In [87]:
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

### Example: For Loop
This code iterates over a sequence or container.

In [88]:
for i in range(5):
    print(i)

0
1
2
3
4

In [89]:
range(5)

range(0, 5)

In [90]:
bb = list(range(5))

In [91]:
bb

[0, 1, 2, 3, 4]

### Example: For Loop
This code iterates over a sequence or container.

In [93]:
# Nested loops
for x in range(1, 11):
    for y in range(1, 11):
        print('%d * %d = %d' % (x, y, x*y))
        
        
        
# Each %d is a placeholder for an integer (d means decimal integer).
# The values (x, y, x*y) are inserted into the placeholders in the same order.

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [94]:
# Nested loops
for x in range(1, 11):
    for y in range(1, 11):
        print('{} * {} = {}'.format(x, y, x*y))   # using .format()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### Example: For Loop
This code iterates over a sequence or container.

In [95]:
# Break out of a loop on a condition
for x in range(3):
    print(x)
    if x == 1:
        break

0
1

In [96]:
string = 'Hello World'
for x in string:
    print(x)

H
e
l
l
o

W
o
r
l
d

In [97]:
words = ['one', 'two', 'three']
for element in words:
    print(element)

one
two
three

In [98]:
len(words)

3

In [68]:
len(string)

11

In [69]:
len(words)

3

In [99]:
for i in range(len(words)):
    print(words[i])

one
two
three

In [100]:
for i in range(3):
    print(i)
    print(words[i])

0
one
1
two
2
three

### Example: For Loop
This code iterates over a sequence or container.

In [101]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
for lst in list_of_lists:
    for x in lst:
        print(x)

1
2
3
4
5
6
7
8
9

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **control flow statements**.

The **if** statement allows you to check a condition and perform some actions if the condition evaluates to `True`. You can also add `elif` and/or `else` clauses to the if statement to perform alternative actions if the condition evaluates to `False`.

A **while** loop will keep running as long as its conditional expression does not evaluate to `False`.

> Note. When using a while loop with a condition that never evaluates to `False`, an "infinite loop" may occur.  
>
> Note. Since a **for** loop will iterate over a container of elements until there are none left, there is no need to specify a termination condition.

### Explanation
This code demonstrates Python usage.

In [102]:
a = 4
if a == 3:
    print('a equals 3')
else:
    print('a does not equal 3')

a does not equal 3

In [103]:
a = 4
if a == 3:
    print('a equals 3')
elif a == 4:
    print('a equals 4')
elif a == 5:
    print('a equals 5')
else:
    print('a is not 3 or 4 or 5')

a equals 4

In [104]:
a = 5

if a > 5:
    print('a is greater than 5')
elif a > 3:
    print('a is greater than 3')
else:
    print('a is less than 3')

a is greater than 3

In [106]:
x = 5

# Non-zero numbers (like 5) are considered True.
# Only 0, None, False, empty strings "", empty lists [], etc. are False.
if x:
    a = 3
else:
    a = 2
print(a)

3

In [111]:
x = None
if x:
    a = 3
else:
    a = 2
print(a)

2

In [112]:
# Set a to 3 if x is True, otherwise set it to 2.
a = 3 if x else 2
a

2

In [113]:
x = 3
if x > 5:
    a = 10
else:
    a = 5 
print(a)

5

In [114]:
a = 10 if x > 5 else 5
print(a)

5

### Example: While Loop
This code runs repeatedly until a condition is False.

In [115]:
a = 0
while a < 5:
    print(a)
    a = a + 1

0
1
2
3
4

### Example: While Loop
This code runs repeatedly until a condition is False.

In [116]:
a = 0
while a < 5:
    a = a + 1
    print(a)

1
2
3
4
5

In [117]:
a

5

### Example: While Loop
This code runs repeatedly until a condition is False.

In [118]:
while True:
    if a == 6:
        break

KeyboardInterrupt:

# 1.5 Some Details of Python Basics

## Built-in Functions and Callable Objects in Python

A **function** is a Python object that you can "call" to **perform an action** or make a computation and **return another object**. You call a function by writing parentheses to the right of its name. Some functions allow passing **arguments** inside the parentheses (separating multiple arguments with a comma). Inside the function, these arguments are treated as variables.

Python has several useful built-in functions that help you work with different objects and/or your environment. Here are a few of them:

- **`type(obj)`** to determine the type of an object  
- **`len(container)`** to find out how many elements are in a container  
- **`callable(obj)`** to check if an object can be called  
- **`sorted(container)`** to return a new list from a container with elements sorted  
- **`sum(container)`** to calculate the sum of elements in a container  
- **`min(container)`** to find the smallest element in a container  
- **`max(container)`** to find the largest element in a container  
- **`abs(number)`** to find the absolute value of a number  
- **`repr(obj)`** to return the string representation of an object  

> Full list of built-in functions: https://docs.python.org/3/library/functions.html  

There are also various ways to define your own functions and callable objects, which we will cover later.

In [85]:
type(simple_string1)

str

In [119]:
dict1

{'name': 'Jane',
 'age': 23,
 'fav_foods': ['pizza', 'fruit', 'fish', 'sss'],
 'height': 165}

In [120]:
len(dict1)

4

In [121]:
simple_string2

'oranges oranges oranges '

In [123]:
len(simple_string2)

24

In [88]:
callable(len)

True

In [124]:
# Functions, methods, and classes are callable.
# Normal data types like int, str, list, dict instances are not callable.
callable(dict1)

False

In [125]:
sorted([10,1,3.6,7,5,2,-3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [126]:
sorted(['dogs','cats','zebras','Chicago','California','ants','mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [128]:
sum([10,1,3.6,7,5,2,-3])

25.6

In [129]:
min([10,1,3.6,7,5,2,-3])

-3

In [130]:
min(['g','z','a','y'])

'a'

In [131]:
max([10,1,3.6,7,5,2,-3])

10

In [96]:
max('gibberish')

's'

In [132]:
abs(10)

10

In [133]:
abs(-12)

12

In [99]:
repr(set1)

"{False, 3, 5, 6, 'cat', 'dog'}"

## Python Object Attributes (Methods and Properties)

Different types of objects in Python have various **attributes** that can be referenced by name (similar to a variable). To access an object's attribute, use a dot (`.`) after the object, followed by the attribute name (e.g., `obj.attribute`).

If an object's attribute is callable, that attribute is called a **method**. It is similar to a function, except that the function is bound to a specific object.

If an object's attribute is not callable, that attribute is called a **property**. It is simply a piece of data about the object, which itself is another object.

The built-in function `dir()` can be used to return a list of an object's attributes.

<hr>

## Some Methods for String Objects (`string`, `str`)

- **`.capitalize()`** to return a version of the string with the first character capitalized  
- **`.upper()`** to return a version of the string in uppercase (all characters in uppercase)  
- **`.lower()`** to return a version of the string in lowercase (all characters in lowercase)  
- **`.count(substring)`** to return the number of occurrences of a substring in the string  
- **`.startswith(substring)`** to check if the string starts with the substring  
- **`.endswith(substring)`** to check if the string ends with the substring  
- **`.replace(old, new)`** to return a copy of the string with "old" replaced by "new"

In [135]:
a_string = 'tHis is a sTriNg'

In [136]:
a_string.capitalize()

'This is a string'

In [137]:
a_string.upper()

'THIS IS A STRING'

In [138]:
a_string.lower()

'this is a string'

In [139]:
a_string

'tHis is a sTriNg'

In [140]:
a_string.count('i')

3

In [141]:
a_string.count('is')

2

In [143]:
# Start searching from index 7
a_string.count('i', 7)

1

In [144]:
a_string.startswith('this')

False

In [145]:
a_string.lower().startswith('this')

True

In [146]:
a_string.endswith('Ng')

True

In [147]:
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [148]:
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [149]:
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Some Methods for List Objects (`list`)

- **`.append(item)`** to add a single item to the list  
- **`.extend([item1, item2, ...])`** to add multiple items to the list  
- **`.remove(item)`** to remove a single item from the list  
- **`.pop()`** to remove and return the last item in the list  
- **`.pop(index)`** to remove and return the item at a specific index

In [150]:
sample_list = [1,2,3]

In [151]:
sample_list.append(4)
sample_list

[1, 2, 3, 4]

In [152]:
sample_list.extend([5,6,7])
sample_list

[1, 2, 3, 4, 5, 6, 7]

In [153]:
sample_list.remove(4)
sample_list

[1, 2, 3, 5, 6, 7]

In [154]:
popped_element = sample_list.pop()
sample_list, popped_element

([1, 2, 3, 5, 6], 7)

In [155]:
popped_element = sample_list.pop(1)
sample_list, popped_element

([1, 3, 5, 6], 2)

## Some Methods for Set Objects (`set`)

- **`.add(item)`** to add a single item to the set  
- **`.update([item1, item2, ...])`** to add multiple items to the set  
- **`.update(set2, set3, ...)`** to add elements from all provided sets into the set  
- **`.remove(item)`** to remove a single item from the set  
- **`.pop()`** to remove and return a random item from the set  
- **`.difference(set2)`** to return elements in the set that are not in another set  
- **`.intersection(set2)`** to return elements present in both sets  
- **`.union(set2)`** to return elements present in either set  
- **`.symmetric_difference(set2)`** to return elements that are in only one set (but not in both)  
- **`.issuperset(set2)`** does this set contain all elements of another set?  
- **`.issubset(set2)`** is this set contained within another set?

### Example: Working with Sets
This code demonstrates set operations.

In [156]:
sample_set = {1,2,3}

In [157]:
sample_set.add(4)
sample_set

{1, 2, 3, 4}

In [158]:
sample_set.update([5,6])
sample_set

{1, 2, 3, 4, 5, 6}

In [159]:
sample_set.update({7,8}, {9,10})
sample_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [160]:
sample_set.remove(7)
sample_set

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [161]:
popped_value = sample_set.pop()
sample_set, popped_value

({2, 3, 4, 5, 6, 8, 9, 10}, 1)

In [162]:
popped_value = sample_set.pop()
sample_set, popped_value

({3, 4, 5, 6, 8, 9, 10}, 2)

In [163]:
popped_value = sample_set.pop()
sample_set, popped_value

({4, 5, 6, 8, 9, 10}, 3)

Everything described below can be illustrated as follows:

![](https://www.learnbyexample.org/wp-content/uploads/python/Python-Set-Operatioons.png)

### Example: Working with Sets
This code demonstrates set operations.

In [164]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
set1.difference(set2)

{1, 2}

In [165]:
set1.intersection(set2)

{3, 4, 5}

In [166]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [167]:
set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [168]:
set1.issuperset(set2)

False

In [169]:
set1.issuperset({1,2})

True

In [170]:
set1.issubset(set2)

False

In [171]:
set1.issubset({1,2,3,4,5,6,7})

True

## Some Methods for Dictionary Objects (`dict`)

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dictionary  
- **`.update(dict2)`** to add all keys and values from another dictionary into the dictionary  
- **`.pop(key)`** to remove a key and return its value from the dictionary (raises an error if the key is not found)  
- **`.pop(key, default_val)`** to remove a key and return its value from the dictionary (or return `default_val` if the key is not found)  
- **`.get(key)`** to return the value for the specified key in the dictionary (or `None` if the key is not found)  
- **`.get(key, default_val)`** to return the value for the specified key in the dictionary (or `default_val` if the key is not found)  
- **`.keys()`** to return a list of keys in the dictionary  
- **`.values()`** to return a list of values in the dictionary  
- **`.items()`** to return a list of key-value pairs (tuples) in the dictionary

### Example: Working with Dictionaries
This code demonstrates dictionary usage.

In [2]:
sample_dict = {'name': 'Ivan', 'age': 20}

### Example: Working with Dictionaries
This code demonstrates dictionary usage.

In [3]:
sample_dict.update([('city','Moscow')])
sample_dict

{'name': 'Ivan', 'age': 20, 'city': 'Moscow'}

In [4]:
dict_to_add = {'fav_food': 'apple', 'language': 'Russian'}
sample_dict.update(dict_to_add)
sample_dict

{'name': 'Ivan',
 'age': 20,
 'city': 'Moscow',
 'fav_food': 'apple',
 'language': 'Russian'}

In [5]:
popped_value = sample_dict.pop('language')
sample_dict, popped_value

({'name': 'Ivan', 'age': 20, 'city': 'Moscow', 'fav_food': 'apple'}, 'Russian')

In [6]:
sample_dict.get('name')

'Ivan'

In [7]:
sample_dict.get('surname', 'Unknown')

'Unknown'

In [8]:
sample_dict.keys()

dict_keys(['name', 'age', 'city', 'fav_food'])

In [9]:
sample_dict.values()

dict_values(['Ivan', 20, 'Moscow', 'apple'])

In [10]:
sample_dict.items()

dict_items([('name', 'Ivan'), ('age', 20), ('city', 'Moscow'), ('fav_food', 'apple')])

In [11]:
for key, value in sample_dict.items():
    print('This is key:', key + '. And this is value:', value)

This is key: name. And this is value: Ivan
This is key: age. And this is value: 20
This is key: city. And this is value: Moscow
This is key: fav_food. And this is value: apple

# 2. For Those Who Survived the First Stage (Conditionally Advanced Level)

## Positional and Keyword Arguments for Callable Objects

You can call a function/method in several ways:

- `func()`: call `func` without any arguments.  
- `func(arg)`: call `func` with one positional argument.  
- `func(arg1, arg2)`: call `func` with two positional arguments.  
- `func(arg1, arg2, ..., argn)`: call `func` with many positional arguments.  
- `func(kwarg=value)`: call `func` with one keyword argument.  
- `func(kwarg1=value1, kwarg2=value2)`: call `func` with two keyword arguments.  
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: call `func` with multiple keyword arguments.  
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: call `func` with positional and keyword arguments.  
- `obj.method()`: the same applies for `func`... and any other example of `func`.  

When using **positional arguments**, you must provide them in the order in which they were defined in the function (**function signature**).

When using **keyword arguments**, you can specify the desired arguments in any order, as long as you provide the name of each argument.

When using both positional and keyword arguments together, positional arguments must come first.

## String formatting and placeholders

(Exercises left intentionally.)

## List, set, and dict comprehensions

(Exercises left intentionally.)

## Creating objects from arguments or other objects

All basic types provide constructors: `int`, `float`, `str`, `list`, `tuple`, `set`, `dict`.

## Importing libraries

Often, ready-made modules are already written for us, and we can use these modules. Such modules are called **libraries**.  
There are both built-in libraries (for example, `math`) and those that need to be installed (for example, `numpy`).  
To import a library, you need to write `import <libname>`.

### Example: Importing Libraries
This code shows how to import and use Python libraries.

In [12]:
import math

math.cos(0.5), math.sqrt(9)

(0.8775825618903728, 3.0)

You can import a library using an alias for convenience

### Example: Importing Libraries
This code shows how to import and use Python libraries.

In [13]:
import math as mt

mt.cos(0.5), mt.sqrt(9)

(0.8775825618903728, 3.0)

You can import specific functions from a library if you donâ€™t need the entire API

### Example: Importing Libraries
This code shows how to import and use Python libraries.

In [148]:
from math import *

cos(0.5), sin(0.5), sqrt(0.5)

(0.8775825618903728, 0.479425538604203, 0.7071067811865476)

In [149]:
tan(1)

1.5574077246549023

# 3. Introduction to OOP in Python 3

## Defining functions and methods

To write your own function, give it a descriptive name after `def` and decide on input arguments.

### Example: Defining a Function
This code defines a function in Python.

In [14]:
def append_to_list(input_list, num_to_add):
    input_list.append(num_to_add)

In [15]:
a = [1,2,3]
print(a)
b = a
result = append_to_list(b, 4)

[1, 2, 3]

In [16]:
result is None

True

In [17]:
b

[1, 2, 3, 4]

In [18]:
a

[1, 2, 3, 4]

### Example: Importing Libraries
This code shows how to import and use Python libraries.

In [19]:
from copy import copy

In [20]:
a = [1,2,3]
result = append_to_list(copy(a), 4)

In [21]:
result

In [22]:
a

[1, 2, 3]

### Example: Defining a Function
This code defines a function in Python.

In [23]:
def sum_of_three_variables(var1, var2, var3) -> int:
    """
    Here, sum_of_three_variables is the function name.
    var1, var2, var3 are the function arguments, i.e., the values we pass in.
    By the way, you are now reading the docstring (documentation) of the function.
    You can describe each argument and the function logic here.
    Documentation is written primarily for other developers and for yourself,
    since after some time it can be difficult to remember what was written before.
    """
    result = var1 + var2 + var3
    return result

# Example of calling the function
sum_of_three_variables(1, 5, 3)

9

Letâ€™s try without `return`

### Example: Defining a Function
This code defines a function in Python.

In [24]:
def sum_of_three_variables(var1: int, var2: int, var3: int):
    """
    Here, sum_of_three_variables is the function name.
    var1, var2, var3 are the function arguments, i.e., the values we pass in.
    By the way, you are now reading the docstring (documentation) of the function.
    You can describe each argument and the function logic here.
    Documentation is written primarily for other developers and for yourself,
    since after some time it can be difficult to remember what was written before.
    """
    result = var1 + var2 + var3
    # Missing return statement
    # To fix this, add:
    return result

In [25]:
result_of_sum = sum_of_three_variables(1, 2, 3)
result_of_sum

6

In [26]:
result_of_sum is None

False

The function output is currently empty, meaning everything we stored in the variable `result` remains inside the function and is not passed out to the main body of the program. Therefore, `return` can be considered a kind of "communication" mechanism between different parts of your code.

## Classes: Creating your own objects

Here we create a class `Animal`.  

The `__init__` method is called the constructor. In it, we can define the necessary attributes of our class and store them. Often, attributes are passed from outside, as in this example, where we pass the name and age of the animal.  

Later, we can access the attributes in the methods of our class using `self` (for example, after defining `self.name` in the constructor, we can access it in the `tell_about_yourself` method).  

We can write as many methods as we need inside the class. For instance, here we have a `tell_about_yourself` method that prints the name and age of the animal in the desired format.  

Usually, the first argument in class methods is `self`, followed by any other arguments.

### Example: Defining a Function
This code defines a function in Python.

In [34]:
class Animal:
    
    # __init__ :  the constructor, called automatically when you create a new object.
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # Defines what happens when you call len() on an Animal object.
    def __len__(self):
        return self.age * 3
    
    # Allows you to use indexing ([]) on the object, like itâ€™s a string or list.
    def __getitem__(self, idx):
        return self.name[idx]

    def tell_about_yourself(self):
        print('Hello, my name is', self.name)
        print('My age is', self.age)

dog = Animal(name='Bob', age=5)
dog.tell_about_yourself()

cat = Animal('Alice', 3)
cat.tell_about_yourself()

cow = Animal('Burenka', 10)
cow.tell_about_yourself()

Hello, my name is Bob
My age is 5
Hello, my name is Alice
My age is 3
Hello, my name is Burenka
My age is 10

In [35]:
len(dog)

15

In [36]:
dog[0]

'B'

### Example: Defining a Class
This code defines a Python class.

In [38]:
# Define a new class called `Thing`, which is derived from the base Python object (`object`).
# In other words, it inherits from the type `object`.
class Thing(object):
    my_property = 'I am a "Thing"'


# Define a new class called `DictThing`, which is derived (inherits) from the type `dict`.
class DictThing(dict):
    my_property = 'I am a "DictThing"'

In [39]:
# prints the class itself
print(Thing)
# classes themselves are objects of type type.
print(type(Thing))
print(DictThing)
print(type(DictThing))
print(issubclass(DictThing, dict))
# all classes in Python ultimately inherit from object.
print(issubclass(DictThing, object))

<class '__main__.Thing'>
<class 'type'>
<class '__main__.DictThing'>
<class 'type'>
True
True

In [ ]:
# makes an instance of the Thing class
t = Thing()
d = DictThing()
# Since Thing does not define a __str__ or __repr__ method, 
# Python uses the default representation: memory address
print(t)
print(type(t))
print(d)
print(type(d))

<__main__.Thing object at 0x000001ACE04B5460>
<class '__main__.Thing'>
{}
<class '__main__.DictThing'>

In [41]:
d['name'] = 'Sally'
print(d)

{'name': 'Sally'}

In [42]:
d.update({'age': 13, 'fav_foods': ['pizza','sushi','pad thai','waffles'], 'fav_color': 'green'})
print(d)

{'name': 'Sally', 'age': 13, 'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'], 'fav_color': 'green'}

In [43]:
print(d.my_property)

I am a "DictThing"

## Creating a constructor (initializer) method for your classes

(Exercises left intentionally.)

## Magic methods

(Exercises left intentionally.)

## Context managers and the `with` statement

(Exercises left intentionally.)